<!-- views/partials/footer.ejs -->
<footer class="footer p-10 bg-base-300 text-base-content mt-10">
  <div>
    <h2 class="font-bold text-lg">Climate Solutions</h2>
    <p>Empowering sectors to fight climate change.</p>
  </div> 
  <div>
    <span class="footer-title">Navigation</span> 
    <a href="/" class="link link-hover">Home</a> 
    <a href="/solutions/projects" class="link link-hover">Projects</a>
    <a href="/about" class="link link-hover">About</a>
  </div> 
  <div>
    <span class="footer-title">Support</span> 
    <a href="/register" class="link link-hover">Register</a> 
    <a href="/login" class="link link-hover">Login</a> 
  </div>
</footer>